<div>

    <button id="btnLoad">
        Отзывы
    </button>
</div>

<div id="results"></div>

<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(function () {

            $("#btnLoad").click(function () {


                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:12404/API/Values',
                    // data: { get_param: 'value' },
                    dataType: 'json',
                    success: function (RepQ) {
                        $.each(RepQ, function (index, element) {
                            $('#results').append("<p>" + element.TimeQuestion + "  " + element.Question + "</p>");
                        });

                    }
                });

            });
        });
    </script>






















    @*<div id="result">

        </div>
        <button id="btnGetAll">
            Load
        </button>


        <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                $("#btnLoad").click(function () {
                    $('#result').html("");
                    $('#result').append('HELLO!');

                });
            });

        </script>*@
